.bar.navBar{
    border-color: #ffe114;
    background-color: #ffe114;
    background-image: linear-gradient(0deg,#ffe114,#ffe114 50%,transparent 50%);
    color: #fff;
}
.bar.home-subheader{
	top: 40px;
}
.bar.bar-assertive .title{
    color:#444!important;
}
#home{
    top:84px;
	bottom: 0;
}
.home-subheader ion-scroll{
	width: 100%;
	height: 34px;
}
.home-subheader ion-scroll .scroll{
	height: 34px;
	width: 215%;
	display: -webkit-flex;
}
.home-subheader ion-scroll .scroll span{
	flex: 1;
	line-height: 34px;
	text-align: center;
	font-size: 12px;
	color: #666;
}
.home-subheader ion-scroll .scroll span.btn-active{
	color: #608750;
	border-bottom: 2px #608750 solid;
}

/* 侧边栏添加图标*/
.cblan{
    position: relative;
    height: 50px;
    line-height: 50px;
    border-style: none!important;
}
.item-content{
    height: 50px!important;
}
.cblanImg{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 10px;
    top:5px;
    overflow: hidden;
}
.cblanTxt{
    position: absolute;
    left: 65px;
    top:-1px;
}
.cblanImg>img{
    width: 100%;
    height: 100%;
}
/*banners*/
.banner{
}
#home img{
	display: block;
	width: 100%;
}
.slider-pager .slider-pager-page{
    font-size: 10px!important;
    color: #fff!important;
}
