<ion-tabs class="tabs-light tabs-color-active-energized tabs-icon-top">
	<ion-tab class="tab-item-stable" title="首页" icon="ion-home" ui-sref="tabs.home">
		<ion-nav-view name="home"></ion-nav-view>
	</ion-tab>
	<ion-tab title="分类" icon="ion-grid" ui-sref="tabs.top">
		<ion-nav-view name="top"></ion-nav-view>
	</ion-tab>
	<ion-tab title="发现" icon="ion-ios-navigate-outline" ui-sref="tabs.category">
		<ion-nav-view name="category"></ion-nav-view>
	</ion-tab>
    <ion-tab title="两鲜团" icon="ion-bag" ui-sref="tabs.category">
        <ion-nav-view name="tuangou"></ion-nav-view>
    </ion-tab>
	<ion-tab title="我的两鲜" icon="ion-ios-cog-outline" ui-sref="tabs.me">
		<ion-nav-view name="me"></ion-nav-view>
	</ion-tab>
</ion-tabs>
